
@font-face {
    font-family: 'open_sansregular';
    src: url('/assets/OpenSans-Regular-webfont.eot');
    src: url('/assets/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('/assets/OpenSans-Regular-webfont.woff') format('woff'),
         url('/assets/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/assets/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('/assets/OpenSans-Italic-webfont.eot');
    src: url('/assets/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/OpenSans-Italic-webfont.woff2') format('woff2'),
         url('/assets/OpenSans-Italic-webfont.woff') format('woff'),
         url('/assets/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('/assets/OpenSans-Italic-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

font-face {
    font-family: 'fontawesomeregular';
    src: url('/assets/fontawesome-webfont-webfont.eot');
    src: url('/assets/fontawesome-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fontawesome-webfont-webfont.woff2') format('woff2'),
         url('/assets/fontawesome-webfont-webfont.woff') format('woff'),
         url('/assets/fontawesome-webfont-webfont.ttf') format('truetype'),
         url('/assets/fontawesome-webfont-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}